@use "../main";

// home start

#home {
  background-color: #fcf6e4;
  padding-top: 120px;
}

.link {
  display: flex;
  padding-bottom: 27px;
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: pointer;
    color: #414141;
    margin: 0 12px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #8f8f8f;
    max-width: 440px;
    margin-left: 24px;
  }
  span {
    color: #414141;
  }
}

.link-content {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    max-width: 1200px;
    padding-bottom: 24px;
    color: #414141;
  }
}

.link-end {
  padding-bottom: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }
  a {
    display: flex;
    gap: 4px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #606060;
  }
}

.home-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.content-left {
  display: flex;
  gap: 16px;
  .indicator {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    img {
      max-width: 80px;
      object-fit: cover;

      width: 100%;
      margin-top: 8px;
      transition: 0.5s;
      &:hover {
        transform: scale(0.8);
      }
    }
  }
}

.show {
  img {
    cursor: pointer;
    max-width: 100%;
    width: 504px;
    height: 440px;
    object-fit: cover;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }
}

.narx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dg-btn {
  width: 100%;
  button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid #ff6633;
    padding: 16px 32px;
    background: #ff6633;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 19px;
    margin-bottom: 16px;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #70c05b;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-top: 24px;
    justify-content: center;
    gap: 10px;
    color: #606060;
  }
}

.br-item1 {
  display: flex;
  margin-top: 32px;
  padding: 4px 8px;
  background: #f3f2f1;
  justify-content: space-between;
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }
}

.br-item {
  display: flex;
  padding: 4px 8px;
  justify-content: space-between;
  margin-top: 15px;
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }
}
.row-right {
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
    color: #606060;
  }
}

.hero {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 10px;
}

#tovar {
  background: #fbf8ec;

  .tovar-row {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      color: #414141;
      padding-bottom: 40px;
    }
  }
}
.tovar-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 100% !important;

  .home-card {
    background: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 272px;

    margin-bottom: 50px;
  }

  .card-body {
    img {
      width: 100%;
    }
  }

  h3 {
    margin: 8px;
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 100%;
    margin-left: 10px;
  }

  p {
    font-style: normal;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 256px;
    color: #414141;
    margin: 8px;
  }

  .btn {
    display: flex;
    justify-content: center;
    width: 256px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: transparent;
    border: 1px solid #70c05b;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    color: #70c05b;
    transition: 0.5s;
    &:hover {
      background: #ff6633;
      border-radius: 4px;
      color: #ffffff;
      border: 1px solid #ff6633;
    }
  }
}

#asia {
  background: #fbf8ec;
  .asia-top {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;

      color: #414141;
    }
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #606060;
    }
  }

  .asia-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    .home-card {
      background: #ffffff;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      max-width: 272px;

      margin-bottom: 50px;
    }

    .card-body {
      img {
        width: 100%;
      }
    }

    h3 {
      margin: 8px;
      display: flex;
      justify-content: space-between;
    }

    img {
      width: 100%;
      margin-left: 10px;
    }

    p {
      font-style: normal;
      margin-top: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      max-width: 256px;
      color: #414141;
      margin: 8px;
    }

    .btn {
      display: flex;
      justify-content: center;
      width: 256px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      background-color: transparent;
      border: 1px solid #70c05b;
      border-radius: 4px;
      padding: 8px;
      margin: 8px;
      color: #70c05b;
      transition: 0.5s;
      &:hover {
        background: #ff6633;
        border-radius: 4px;
        color: #ffffff;
        border: 1px solid #ff6633;
      }
    }
  }
}

@media (max-width: 1250px) {
  .home-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .tovar-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
  }
  .asia-content {
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .home-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    justify-content: center;
  }
}

@media (max-width: 625px) {
  .tovar-content {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }
  .asia-content {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }

  .content-left {
    flex-direction: column;
    .indicator {
      flex-direction: row ;
      justify-content: space-between;
    }
  }
}

@media (max-width: 480px) {
  .link,.link-end{
    flex-direction: column !important;
  }
  .link-content{
    h1 {
      font-size: 16px;
    }
  }
  .indicator {
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
  }
}
