@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
header {
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 16;
  top: 0;
  position: fixed;
  padding: 16px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .right img {
  max-width: 40px;
}
header nav .dropdown {
  display: none;
  top: 70px;
  left: 0;
  width: 100%;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
header nav .dropdown .drob1 {
  display: flex;
  justify-content: space-between;
}
header nav .dropdown .drob1 ul {
  padding-bottom: 10px;
}
header nav .dropdown .drob1 li {
  padding-top: 16px;
}
header nav .dropdown .drob1 li a {
  padding-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  transition: 0.5s;
}
header nav .dropdown .drob1 li a:hover {
  color: #ff6633;
}
header nav .buttton {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #70c05b;
  border-radius: 4px;
  padding: 4px 16px;
}
header nav .buttton .a1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
header nav .toggl button {
  border: none;
  background-color: transparent;
}
header nav .toggl i {
  color: white;
  font-size: 25px;
  width: 88px;
}
header nav .like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
header nav .like p {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #414141;
}
header nav .like1 a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like1 a i {
  font-size: 20px;
}
header nav .like2 a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like2 a i {
  font-size: 20px;
}
header nav .like3 a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like3 a i {
  font-size: 20px;
}
header nav .like4 a {
  margin-left: 10px;
}
header nav .like4 .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 213, 186, 0.8);
  opacity: 0;
  z-index: -1 !important;
  transition: 0.5s;
  display: none;
}
header nav .like4 .modal-show {
  z-index: 999999;
  opacity: 1;
  display: block;
}
header nav .like4 .modal-content {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  max-width: 500px;
  background-color: white;
  color: black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header nav .like4 .modal-content label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8f8f8f;
}
header nav .like4 .modal-content input {
  display: block;
  background: #ffffff;
  padding: 12px;
  margin-bottom: 32px;
  border: 1px solid #70c05b;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border-radius: 4px;
}
header nav .like4 .modal-content .close {
  border: 1px solid #fcd5ba;
  padding: 16px;
  text-align: center;
  width: 260px;
  color: #ff6633;
  background: #fcd5ba;
  border-radius: 4px;
  margin-bottom: 36px;
}
header nav .like4 .modal-content .left-right {
  display: flex;
  gap: 20px;
}
header nav .like4 .modal-content .left-right .link {
  background: #ffffff;
  border: 1px solid #70c05b;
  padding: 12px;
  width: 120px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  transition: 0.5s;
  color: #606060;
}
header nav .like4 .modal-content .left-right .link:hover {
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  color: #70c05b;
}
header nav .like4 .modal-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  padding-bottom: 32px;
  color: #414141;
  margin-top: 60px;
}
header nav .like4 .close-modal {
  position: absolute;
  top: -15px;
  right: 5px;
  margin-top: 20px;
}
header nav .like4 .close-modal i {
  color: #414141;
  font-size: 18px;
}
header nav .like4 .modal-content-show {
  top: 200px;
}
header nav .like4 .btn1 {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}
header nav .like4 .btn1 i {
  margin-left: 5px;
}
header nav .input {
  max-width: 360px;
  width: 100%;
}
header nav .input .input1 {
  position: relative;
  display: flex;
  width: 100%;
}
header nav .input .input1 input {
  flex-grow: 1;
  padding: 8px 16px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
header nav .input .input1 label i {
  position: absolute;
  right: 20px;
  top: 6px;
}
header nav .right {
  display: flex;
  align-items: center;
  gap: 14px;
}
header nav .right a {
  color: #414141;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

footer {
  background-image: url(../../images/footer.png);
  background-color: #f9f4e2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 37px;
}
footer .footer-end {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
footer .footer-end p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
  gap: 175px;
}
footer .footer-row .left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
footer .footer-row .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  outline: none;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

.d-blok {
  display: block !important;
}

#home {
  margin-top: 70px;
  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home .home-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .home-row h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #414141;
  max-width: 751px;
}
#home .home-row img {
  width: 100%;
  width: 300px;
  height: 200px;
}

#aksiya {
  background-color: #fcf6e4;
  padding-bottom: 120px;
}

.name-aksiya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 76px 0 40px;
}
.name-aksiya h1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}
.name-aksiya a {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards .card {
  width: 100%;
  max-width: 272px;
  height: 380px;
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.cards .card img {
  width: 100%;
}
.cards .card .card-top {
  position: relative;
}
.cards .card .card-top .sale {
  top: 120px;
  left: 15px;
  position: absolute;
  padding: 4px 8px;
  background: #ff6633;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.cards .card .card-top .heart {
  padding: 6px 5px;
  background: #f3f2f1;
  opacity: 0.5;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
}
.cards .card-bottom {
  padding: 10px 10px;
}
.cards .card-bottom .price-pay .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card-bottom .price-pay .price .price-2 {
  padding-bottom: 10px;
}
.cards .card-bottom .price-pay .price .first-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.cards .card-bottom .price-pay .price .second-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
.cards .card-bottom .price-pay .pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card-bottom .price-pay .pay .simple,
.cards .card-bottom .price-pay .pay .with-card {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}
.cards .card-bottom .card-info {
  padding: 8px 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
.cards .card-bottom .card-star span:nth-child(1) {
  color: #ff6633;
  cursor: pointer;
}
.cards .card-bottom .card-star span:nth-child(2) {
  color: #ff6633;
  cursor: pointer;
}
.cards .card-bottom .card-star span {
  color: grey;
  cursor: pointer;
}
.cards .card-bottom .card-btn button {
  border: 1px solid #70c05b;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.cards .card-bottom .card-btn button:hover {
  transition: 0.8s;
  background-color: #ff6633;
  border: 1px solid #ff6633;
  color: #fff;
}
.cards .card-bottom .card-btn button:hover > a {
  color: #fff;
}
.cards .card-bottom .card-btn button a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #70c05b;
}

#hero {
  background-color: #fcf6e4;
  padding-bottom: 120px;
}

.hero-top h1 {
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.hero_card {
  display: flex;
  padding: 30px;
  background: #fcd5ba;
  box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
  border-radius: 4px;
  max-width: 584px;
  transition: 0.5s;
  cursor: pointer;
}
.hero_card:hover {
  background: #e5ffde;
  border-radius: 4px;
}
.hero_card .hero_card_content {
  display: flex;
  flex-direction: column;
}
.hero_card .hero_card_content h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  max-width: 258px;
  color: #414141;
}
.hero_card .hero_card_content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 6px;
  color: #414141;
}

.and1 {
  padding: 38px;
}

#map {
  background: #fbf8ec;
  padding-bottom: 30px;
}
#map .btn {
  margin-bottom: 24px;
}
#map .btn button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding: 4px 8px;
  color: #606060;
  border: none;
  margin: 0px 12px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#map .active {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  background-color: #70c05b;
}

#status {
  background: #fbf8ec;
  padding-bottom: 80px;
}
#status .status_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  gap: 40px;
}
#status .status_row .status_card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#status .status_row .status_card img {
  width: 100%;
}
#status .status_row .status_card h3 {
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  max-width: 350px;
  color: #414141;
}
#status .status_row .status_card p {
  padding: 10px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 356px;
  color: #414141;
}
#status .status_row .status_card .btn {
  margin: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 8px 16px;
  background: #e5ffde;
  border-radius: 4px;
  color: #70c05b;
  border: none;
  transition: 0.5s;
}
#status .status_row .status_card .btn:hover {
  background: #70c05b;
  border-radius: 4px;
  color: #ffffff;
}

@media (max-width: 1250px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
  }
}
@media (max-width: 1100px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1075px) {
  .buttton {
    display: none !important;
  }
  .like {
    position: fixed !important;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: -1px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  .home-row h1 {
    font-size: 36px !important;
  }
  .hero {
    flex-direction: column;
  }
  .footer-row {
    gap: 20px !important;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .status_row {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .hero_card {
    flex-direction: column;
    max-width: 330px;
  }
  .status_row {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 590px) {
  .right a {
    margin-right: 10px;
  }
  .like4 {
    display: none;
  }
}
@media (max-width: 500px) {
  .home-row {
    flex-direction: column;
  }
  .home-row h1 {
    font-size: 24px !important;
  }
  .buttton {
    display: block !important;
    position: fixed;
    background: transparent !important;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
  .buttton i {
    margin-left: 8px;
    color: black !important;
  }
  .buttton .a1 {
    display: block;
    color: black !important;
    font-size: 11px !important;
  }
  .right img {
    margin-right: 10px;
  }
  .right a {
    display: none;
  }
  .left {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}