@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.d-blok {
  display: block !important;
}

header {
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 16;
  top: 0;
  position: fixed;
  padding: 16px 0;
}
header .like1 {
  position: relative;
}
header .like1 .position-absolutebadge {
  position: absolute;
  top: -5px;
  right: 16px;
  padding: 2px;
  font-size: 10px;
  position: absolute;
  background-color: #f63;
  border-radius: 20px;
  color: #fff;
}
header .like3 {
  position: relative;
}
header .like3 .position-absolutebadge {
  position: absolute;
  top: -5px;
  right: 10px;
  padding: 2px;
  font-size: 10px;
  position: absolute;
  background-color: #f63;
  border-radius: 20px;
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .right img {
  max-width: 40px;
}
header nav .dropdown {
  display: none;
  top: 70px;
  left: 0;
  width: 100%;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
header nav .dropdown .drob1 {
  display: flex;
  justify-content: space-between;
}
header nav .dropdown .drob1 ul {
  padding-bottom: 10px;
}
header nav .dropdown .drob1 li {
  padding-top: 16px;
}
header nav .dropdown .drob1 li a {
  padding-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  transition: 0.5s;
}
header nav .dropdown .drob1 li a:hover {
  color: #ff6633;
}
header nav .buttton {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #70c05b;
  border-radius: 4px;
  padding: 4px 16px;
}
header nav .buttton .a1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
header nav .toggl button {
  border: none;
  background-color: transparent;
}
header nav .toggl i {
  color: white;
  font-size: 25px;
  width: 88px;
}
header nav .like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
header nav .like p {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #414141;
}
header nav .like1 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like1 a:hover p {
  color: #ff6633;
}
header nav .like1 a:hover i {
  color: #ff6633;
}
header nav .like1 a i {
  font-size: 20px;
  font-weight: 700;
}
header nav .like2 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like2 a:hover p {
  color: #ff6633;
}
header nav .like2 a:hover i {
  color: #ff6633;
}
header nav .like2 a i {
  font-size: 20px;
}
header nav .like3 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like3 a:hover p {
  color: #ff6633;
}
header nav .like3 a:hover i {
  color: #ff6633;
}
header nav .like3 a i {
  font-size: 20px;
}
header nav .like4 a {
  color: #414141;
  margin-left: 10px;
}
header nav .like4:hover {
  color: #ff6633;
}
header nav .like4 .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 213, 186, 0.8);
  opacity: 0;
  transition: 0.5s;
  display: none;
}
header nav .like4 .modal-show {
  z-index: 999999;
  opacity: 1;
  display: block;
}
header nav .like4 .modal-content {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  max-width: 500px;
  background-color: white;
  color: black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header nav .like4 .modal-content label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8f8f8f;
}
header nav .like4 .modal-content input {
  display: block;
  background: #ffffff;
  padding: 12px;
  margin-bottom: 32px;
  border: 1px solid #70c05b;
  width: 320px;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border-radius: 4px;
}
header nav .like4 .modal-content .close {
  border: 1px solid #fcd5ba;
  padding: 16px;
  text-align: center;
  width: 320px;
  color: #ff6633;
  background: #fcd5ba;
  border-radius: 4px;
  margin-bottom: 36px;
}
header nav .like4 .modal-content .left-right {
  display: flex;
  gap: 20px;
}
header nav .like4 .modal-content .left-right .link {
  background: #ffffff;
  border: 1px solid #70c05b;
  padding: 12px;
  width: 150px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  transition: 0.5s;
  color: #606060;
}
header nav .like4 .modal-content .left-right .link:hover {
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  color: #70c05b;
}
header nav .like4 .modal-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  padding-bottom: 32px;
  color: #414141;
  margin-top: 60px;
}
header nav .like4 .close-modal {
  position: absolute;
  top: -15px;
  right: 5px;
  margin-top: 20px;
}
header nav .like4 .close-modal i {
  color: #414141;
  font-size: 18px;
}
header nav .like4 .modal-content-show {
  top: 200px;
}
header nav .like4 .btn1 {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}
header nav .like4 .btn1 i {
  margin-left: 5px;
}
header nav .input {
  max-width: 360px;
  width: 100%;
}
header nav .input .input1 {
  position: relative;
  display: flex;
  width: 100%;
}
header nav .input .input1 input {
  flex-grow: 1;
  padding: 8px 16px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
header nav .input .input1 label i {
  position: absolute;
  right: 20px;
  top: 6px;
}
header nav .right {
  display: flex;
  align-items: center;
  gap: 14px;
}
header nav .right a {
  color: #414141;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 1075px) {
  .buttton {
    display: none !important;
  }
  .like {
    display: none !important;
    justify-content: space-between;
    bottom: 0;
    left: -1px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
}
@media (max-width: 590px) {
  .like4 {
    display: none;
  }
}
footer {
  background-image: url(../../images/footer.png);
  background-color: #f9f4e2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 37px;
}
footer .footer-end {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
footer .footer-end p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
  gap: 175px;
}
footer .footer-row .left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
footer .footer-row .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.nav-footer {
  margin-top: 40px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-footer .foo-btn button {
  border: none !important;
  background: transparent !important;
  padding: 3px;
}
.nav-footer .foo-btn button:hover {
  transform: scale(1.2);
}
.nav-footer .likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .likes:hover {
  color: #ff6633;
  transform: scale(1.2);
}
.nav-footer .likes span {
  color: grey;
}
.nav-footer .likes p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .products:hover {
  color: #ff6633;
  transform: scale(1.2);
}
.nav-footer .products span {
  color: grey;
}
.nav-footer .products p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .shop:hover {
  color: #ff6633 !important;
  transform: scale(1.2);
}
.nav-footer .shop span {
  color: grey;
}
.nav-footer .shop p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .alex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-footer .alex:hover {
  transform: scale(1.2);
}
.nav-footer .alex span {
  display: none;
  color: grey;
}
.nav-footer .alex p {
  display: none;
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.nav_foooter {
  display: none;
}

@media (max-width: 1075px) {
  .footer-row {
    gap: 20px !important;
    flex-direction: column;
  }
}
@media (max-width: 590px) {
  .right a {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .nav_foooter {
    display: flex;
  }
  .right img {
    margin-right: 10px;
  }
  .right a {
    display: none;
  }
  .left {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  outline: none;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

#home {
  background-color: #fcf6e4;
  padding-top: 120px;
}

.link {
  display: flex;
  padding-bottom: 27px;
}
.link a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  cursor: pointer;
  color: #414141;
  margin: 0 12px;
}
.link p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #8f8f8f;
  max-width: 440px;
  margin-left: 24px;
}
.link span {
  color: #414141;
}

.link-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  max-width: 1200px;
  padding-bottom: 24px;
  color: #414141;
}

.link-end {
  padding-bottom: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.link-end span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.link-end a {
  display: flex;
  gap: 4px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
}

.home-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.content-left {
  display: flex;
  gap: 16px;
}
.content-left .indicator {
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
.content-left .indicator img {
  max-width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: 8px;
  transition: 0.5s;
}
.content-left .indicator img:hover {
  transform: scale(0.8);
}

.show img {
  cursor: pointer;
  max-width: 100%;
  width: 504px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.show img:hover {
  transform: scale(0.9);
}

.narx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dg-btn {
  width: 100%;
}
.dg-btn button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid #ff6633;
  padding: 16px 32px;
  background: #ff6633;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-top: 19px;
  margin-bottom: 16px;
  width: 376px;
  transition: 0.5s;
}
.dg-btn button:hover {
  transform: scale(0.9);
}
.dg-btn p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #70c05b;
}
.dg-btn a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
  gap: 10px;
  color: #606060;
}

.br-item1 {
  display: flex;
  margin-top: 32px;
  padding: 4px 8px;
  background: #f3f2f1;
  justify-content: space-between;
}
.br-item1 a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.br-item1 h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.br-item {
  display: flex;
  padding: 4px 8px;
  justify-content: space-between;
  margin-top: 15px;
}
.br-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.br-item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.row-right a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #606060;
}

.hero {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 10px;
}

#tovar {
  background: #fbf8ec;
}
#tovar .tovar-row h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
  padding-bottom: 40px;
}

.tovar-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 100% !important;
}
.tovar-content .home-card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 272px;
  margin-bottom: 50px;
}
.tovar-content .card-body img {
  width: 100%;
}
.tovar-content h3 {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}
.tovar-content img {
  width: 100%;
  margin-left: 10px;
}
.tovar-content p {
  font-style: normal;
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 256px;
  color: #414141;
  margin: 8px;
}
.tovar-content .btn {
  display: flex;
  justify-content: center;
  width: 256px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  color: #70c05b;
  transition: 0.5s;
}
.tovar-content .btn:hover {
  background: #ff6633;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ff6633;
}

#asia {
  background: #fbf8ec;
}
#asia .asia-top {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#asia .asia-top h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}
#asia .asia-top a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
#asia .asia-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
#asia .asia-content .home-card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 272px;
  margin-bottom: 50px;
}
#asia .asia-content .card-body img {
  width: 100%;
}
#asia .asia-content h3 {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}
#asia .asia-content img {
  width: 100%;
  margin-left: 10px;
}
#asia .asia-content p {
  font-style: normal;
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 256px;
  color: #414141;
  margin: 8px;
}
#asia .asia-content .btn {
  display: flex;
  justify-content: center;
  width: 256px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  color: #70c05b;
  transition: 0.5s;
}
#asia .asia-content .btn:hover {
  background: #ff6633;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ff6633;
}

@media (max-width: 1250px) {
  .home-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .tovar-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
  }
  .asia-content {
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .home-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    justify-content: center;
  }
}
@media (max-width: 625px) {
  .tovar-content {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }
  .asia-content {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }
  .content-left {
    flex-direction: column;
  }
  .content-left .indicator {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .link, .link-end {
    flex-direction: column !important;
  }
  .link-content h1 {
    font-size: 16px;
  }
  .indicator {
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
  }
  .dg-btn button {
    width: 250px !important;
  }
}