@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.d-blok {
  display: block !important;
}

header {
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 16;
  top: 0;
  position: fixed;
  padding: 16px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .right img {
  max-width: 40px;
}
header nav .dropdown {
  display: none;
  top: 70px;
  left: 0;
  width: 100%;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
header nav .dropdown .drob1 {
  display: flex;
  justify-content: space-between;
}
header nav .dropdown .drob1 ul {
  padding-bottom: 10px;
}
header nav .dropdown .drob1 li {
  padding-top: 16px;
}
header nav .dropdown .drob1 li a {
  padding-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  transition: 0.5s;
}
header nav .dropdown .drob1 li a:hover {
  color: #ff6633;
}
header nav .buttton {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #70c05b;
  border-radius: 4px;
  padding: 4px 16px;
}
header nav .buttton .a1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
header nav .toggl button {
  border: none;
  background-color: transparent;
}
header nav .toggl i {
  color: white;
  font-size: 25px;
  width: 88px;
}
header nav .like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
header nav .like p {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #414141;
}
header nav .like1 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like1 a:hover p {
  color: #ff6633;
}
header nav .like1 a:hover i {
  color: #ff6633;
}
header nav .like1 a i {
  font-size: 20px;
  font-weight: 700;
}
header nav .like2 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like2 a:hover p {
  color: #ff6633;
}
header nav .like2 a:hover i {
  color: #ff6633;
}
header nav .like2 a i {
  font-size: 20px;
}
header nav .like3 a {
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .like3 a:hover p {
  color: #ff6633;
}
header nav .like3 a:hover i {
  color: #ff6633;
}
header nav .like3 a i {
  font-size: 20px;
}
header nav .like4 a {
  color: #414141;
  margin-left: 10px;
}
header nav .like4:hover {
  color: #ff6633;
}
header nav .like4 .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 213, 186, 0.8);
  opacity: 0;
  transition: 0.5s;
  display: none;
}
header nav .like4 .modal-show {
  z-index: 999999;
  opacity: 1;
  display: block;
}
header nav .like4 .modal-content {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  max-width: 500px;
  background-color: white;
  color: black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header nav .like4 .modal-content label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8f8f8f;
}
header nav .like4 .modal-content input {
  display: block;
  background: #ffffff;
  padding: 12px;
  margin-bottom: 32px;
  border: 1px solid #70c05b;
  width: 320px;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border-radius: 4px;
}
header nav .like4 .modal-content .close {
  border: 1px solid #fcd5ba;
  padding: 16px;
  text-align: center;
  width: 320px;
  color: #ff6633;
  background: #fcd5ba;
  border-radius: 4px;
  margin-bottom: 36px;
}
header nav .like4 .modal-content .left-right {
  display: flex;
  gap: 20px;
}
header nav .like4 .modal-content .left-right .link {
  background: #ffffff;
  border: 1px solid #70c05b;
  padding: 12px;
  width: 150px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  transition: 0.5s;
  color: #606060;
}
header nav .like4 .modal-content .left-right .link:hover {
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  color: #70c05b;
}
header nav .like4 .modal-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  padding-bottom: 32px;
  color: #414141;
  margin-top: 60px;
}
header nav .like4 .close-modal {
  position: absolute;
  top: -15px;
  right: 5px;
  margin-top: 20px;
}
header nav .like4 .close-modal i {
  color: #414141;
  font-size: 18px;
}
header nav .like4 .modal-content-show {
  top: 200px;
}
header nav .like4 .btn1 {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}
header nav .like4 .btn1 i {
  margin-left: 5px;
}
header nav .input {
  max-width: 360px;
  width: 100%;
}
header nav .input .input1 {
  position: relative;
  display: flex;
  width: 100%;
}
header nav .input .input1 input {
  flex-grow: 1;
  padding: 8px 16px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
header nav .input .input1 label i {
  position: absolute;
  right: 20px;
  top: 6px;
}
header nav .right {
  display: flex;
  align-items: center;
  gap: 14px;
}
header nav .right a {
  color: #414141;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 1075px) {
  .buttton {
    display: none !important;
  }
  .like {
    display: none !important;
    justify-content: space-between;
    bottom: 0;
    left: -1px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
}
@media (max-width: 590px) {
  .like4 {
    display: none;
  }
}
footer {
  background-image: url(../../images/footer.png);
  background-color: #f9f4e2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 37px;
}
footer .footer-end {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
footer .footer-end p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
  gap: 175px;
}
footer .footer-row .left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
footer .footer-row .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.nav-footer {
  margin-top: 40px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-footer .foo-btn button {
  border: none !important;
  background: transparent !important;
  padding: 3px;
}
.nav-footer .foo-btn button:hover {
  transform: scale(1.2);
}
.nav-footer .likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .likes:hover {
  color: #ff6633;
  transform: scale(1.2);
}
.nav-footer .likes span {
  color: grey;
}
.nav-footer .likes p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .products:hover {
  color: #ff6633;
  transform: scale(1.2);
}
.nav-footer .products span {
  color: grey;
}
.nav-footer .products p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-footer .shop:hover {
  color: #ff6633 !important;
  transform: scale(1.2);
}
.nav-footer .shop span {
  color: grey;
}
.nav-footer .shop p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
.nav-footer .alex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-footer .alex:hover {
  transform: scale(1.2);
}
.nav-footer .alex span {
  display: none;
  color: grey;
}
.nav-footer .alex p {
  display: none;
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.nav_foooter {
  display: none;
}

@media (max-width: 1075px) {
  .footer-row {
    gap: 20px !important;
    flex-direction: column;
  }
}
@media (max-width: 590px) {
  .right a {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .nav_foooter {
    display: flex;
  }
  .right img {
    margin-right: 10px;
  }
  .right a {
    display: none;
  }
  .left {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  outline: none;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

#home {
  background-color: #fcf6e4;
  padding: 44px 0 50px;
}

.home-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 76px 0 40px;
}
.home-row h1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.cards .card {
  width: 100%;
  max-width: 272px;
  height: 380px;
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.cards .card:hover {
  cursor: pointer;
}
.cards .card:hover #span {
  transform: translateX(0);
}
.cards .card img {
  width: 100% !important;
}
.cards .card #span {
  transform: translateX(50px);
}
.cards .card .card-top {
  position: relative;
}
.cards .card .card-top .sale {
  top: 120px;
  left: 15px;
  position: absolute;
  padding: 4px 8px;
  background: #ff6633;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.cards .card .card-top .heart {
  padding: 6px 5px;
  background: #f3f2f1;
  opacity: 0.5;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
}
.cards .card-bottom {
  padding: 10px 10px;
}
.cards .card-bottom .price-pay .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card-bottom .price-pay .price .price-2 {
  padding-bottom: 10px;
}
.cards .card-bottom .price-pay .price .first-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.cards .card-bottom .price-pay .price .second-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
.cards .card-bottom .price-pay .pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card-bottom .price-pay .pay .simple,
.cards .card-bottom .price-pay .pay .with-card {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}
.cards .card-bottom .card-info {
  padding: 8px 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
.cards .card-bottom .card-info p {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cards .card-bottom .card-star {
  color: #ff6633;
  font-size: 28px;
}
.cards .card-bottom .card-btn button {
  border: 1px solid #70c05b;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.cards .card-bottom .card-btn button:hover {
  transition: 0.8s;
  background-color: #ff6633;
  border: 1px solid #ff6633;
  color: #fff;
}
.cards .card-bottom .card-btn button:hover > a {
  color: #fff;
}
.cards .card-bottom .card-btn button a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #70c05b;
}

#paganition {
  background: #fbf8ec;
  padding-bottom: 30px;
}
#paganition ul {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
}
#paganition .page-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  color: #606060;
}
#paganition .active {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #ff6633 !important;
}

@media (max-width: 1250px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
  }
}
@media (max-width: 1100px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center !important;
  }
}